@charset "UTF-8";
.lt_content{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.lt_catecory_l{
  width: 90px;
  height: 100%;
  float: left;
  position: relative;
}
.lt_catecory_l li{
  height: 50px;
  line-height: 50px;
  background-color: pink;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  text-align: center;
}
.lt_catecory_l li.now{
  background-color: purple;
}
.lt_catecory_l a{
  font-size: 16px;
  color: #8f8f94;
}
.lt_catecory_r{
  height: 100%;
  overflow: hidden;
  position: relative;
}
.lt_catecory_r li{
  width: 33.3%;
  float: left;
  text-align: center;
}
.lt_catecory_r img{
  width: 62px;
  height: 62px;
  margin: 0 auto;
}.lt_catecory_r span{
  font-size:14px;
  color: #8f8f94;
 }