@charset "UTF-8";
.lt_search{
  padding: 10px;
  position: relative;
}
.lt_search input{
  width: 100%;
  border-radius: 5px;
  border:1px solid #007aff;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  margin-bottom: 0;
}
.lt_search button{
  position:absolute;
  top:11px;
  right: 10px;
  height: 38px;
  border: 1px solid #007aff;
  background-color: #007aff;
  border-radius:0 5px 5px 0;
  color:#fff;
}

.lt_sort {
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  padding: 0 10px;
}

.lt_sort a {
  font-size: 12px;
  color: #666;
  width: 25%;
  float: left;
  text-align: center;
}

.lt_sort a.now {
  color: darkorange;
}