@charset "UTF-8";
.mt150{
  margin-top: 150px;
}
.lt_panel h4{
  text-align: center;
}
ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
a:link,a:visited,a:hover,a:active{
  text-decoration: none;
}
.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222d32;
  position: absolute;
}
.lt_aside .brand a {
  height: 50px;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 24px;
  background-color: #337ab7;
  line-height: 40px;
}
.lt_aside .user{
  height: 150px;
}
.lt_aside .user img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px auto 0;
  display: block;
}
.lt_aside .user p{
  color:#fff;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  height: 40px;
}
.lt_aside .nav a{
  height: 40px;
  line-height: 40px;
  color: #ccc;
  padding-left: 30px;
  border: 3px solid transparent;
  display: block;
}
.lt_aside .nav a.now{
  background-color: #1d1f21;
  border-left-color:#367fa9;
  color:#fff;
}
.lt_aside .child a{
  padding-left: 50px;
}